.header{
    margin: 0 auto;
    background: $dark-color;
    margin-bottom: 20px;
    padding: 5px;
}
.header__title{
    color: $title-white;
    margin: 0;
}
.header__subtitle{
    color: $subtitle-white;;
    margin: 0;
}