// color
$brand-color: #333477;
$dark-color:  #02020c;
$background-color: #1f1f24;
$blue-purple: #33044e;
$title-white: white;
$subtitle-white: #d3d2d2;

// font
$l-font: 26px;
$md-font: 18px;
$contains-width: 330px;
$default-padding: 10px;